@import "variable.scss";

body,
html {
  line-height: 1.4;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  width: 100%;
  height: 100%;
  line-height: 1;
}
/* 清除浮动 */

.clearfix {
  display: inline-block;

  &:after {
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}
/* 文字溢出隐藏只显示一行 */

.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 文字溢出隐藏只显示两行 */

.text-over2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
/* 图片加载动画 */

.loadimg[lazy=loaded] {
  animation: loader 1s both;
}
@keyframes loader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* loading */

.loading-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
/* 结构布局 */

.full-fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.max-center {
  margin: 0 auto;
  max-width: 600px;
}
/* 页面过渡 */
.top-in-enter-active,
.top-in-leave-active {
  transition: 0.3s all linear;
}
.top-in-enter,
.top-in-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.transX-enter-active,
.transX-leave-active {
  transition: all .3s linear;
}

.transX-enter,
.transX-leave-to {
  transform: translate3d(100%, 0, 0);
}

.transXL-enter-active,
.transXL-leave-active {
  transition: 0.3s all linear;
}

.transXL-enter,
.transXL-leave-to {
  transform: translate3d(-100%, 0, 0);
}

.transY-enter-active,
.transY-leave-active {
  transition: 0.3s all ease;
}

.transY-enter,
.transY-leave-to {
  transform: translate3d(0, 100%, 0);
}

.opacity-enter-active,
.opacity-leave-active {
  transition: 0.2s all ease;
}

.opacity-enter,
.opacity-leave-to {
  opacity: 0;
}
/* 页面偏移动画 */

._effect {
  transition: 0.3s all ease;
}

._effect-30 {
  transform: translate3d(-30%, 0, 0);
}

._effect-50 {
  transform: translate3d(-50%, 0, 0);
}

._effect-100 {
  transform: translate3d(-100%, 0, 0);
}
/* 动画速度 */

._effect-2 {
  opacity: 1;
  transition: 0.2s all ease;
}

._effect-50-o {
  opacity: 0;
  transform: translate3d(-50%, 0, 0);
}
/* 图标 */

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 轮播图小点颜色 */

.swiper-container {
  position: static;
}

.swiper-pagination-bullet {
  background: $color-theme;
}

.swiper-pagination-bullet-active {
  background: $color-theme;
}
// 布局

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}
// padding

.pd-t-10 {
  /* 10/37.5 */
  padding-top: 0.27rem;
}

.pd-r-10 {
  /* 10/37.5 */
  padding-right: 0.27rem;
}

.pd-b-10 {
  /* 10/37.5 */
  padding-bottom: 0.27rem;
}

.pd-l-10 {
  /* 10/37.5 */
  padding-left: 0.27rem;
}

.pd-t-16 {
  /* 16/37.5 */
  padding-top: 0.43rem;
}

.pd-r-16 {
  /* 16/37.5 */
  padding-top: 0.43rem;
}

.pd-b-16 {
  /* 16/37.5 */
  padding-top: 0.43rem;
}

.pd-l-16 {
  /* 16/37.5 */
  padding-top: 0.43rem;
}
// 滑动开关

.label-switch {
  display: block;
  position: relative;
  vertical-align: middle;
  width: 2.6rem;
  height: 1.6rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  -webkit-align-self: center;
  align-self: center;
  -webkit-tap-highlight-color: transparent;
  transform: scale(.6);
  transform-origin: right;
}

.label-switch .switch-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.label-switch .checkbox {
  position: relative;
  width: 2.6rem;
  height: 1.6rem;
  border-radius: 0.8rem;
  background: #e5e5e5;
  z-index: 0;
  transition: all 0.3s;
}

.label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  z-index: 1;
  width: 2.4rem;
  height: 1.4rem;
  border-radius: 0.8rem;
  background: #fff;
  transition: all 0.3s;
  transform: scale(1);
}

.label-switch .checkbox:after {
  content: ' ';
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  z-index: 2;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.4);
  background: #fff;
  transform: translateX(0px);
  transition: all 0.3s;
}

.label-switch .switch-input[type="checkbox"]:checked + .checkbox {
  background: #4cd964;
}

.label-switch .switch-input[type="checkbox"]:checked + .checkbox:before {
  transition: all 0.3s;
  transform: scale(0);
}

.label-switch .switch-input[type="checkbox"]:checked + .checkbox:after {
  transition: all 0.3s;
  transform: translateX(1.1rem);
}
