@import "variable.scss";

body, html {
  line-height: 1.4;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* 清除浮动 */
.clearfix{
  display: inline-block;
  &:after{
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    clear:both;
    visibility: hidden;
  }
}
/* 文字溢出隐藏只显示一行 */
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 文字溢出隐藏只显示两行 */
.text-over2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* 图片加载动画 */
.loadimg[lazy=loaded] {
  animation: loader 1s both;
}

@keyframes loader {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
/* loading */
.loading-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

/* 结构布局 */
.full-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
/* 页面过渡 */
.transX-enter-active,
.transX-leave-active{
  transition: .3s all ease;
}
.transX-enter,
.transX-leave-to{
  transform: translate3d(100%, 0, 0);
}
.transY-enter-active,
.transY-leave-active{
  transition: .3s all ease;
}
.transY-enter,
.transY-leave-to{
  transform: translate3d(0, 100%, 0);
}
.opacity-enter-active,
.opacity-leave-active{
  transition: .3s all ease;
}
.opacity-enter,
.opacity-leave-to{
  opacity: 0;
}
/* 页面偏移动画 */
._effect {
  opacity: 1;
  transition: .3s all ease;
}
._effect-30 {
  transform: translate3d(-30%, 0, 0);
}
._effect-50 {
  transform: translate3d(-50%, 0, 0);
}
/* 动画速度 */
._effect-2 {
  opacity: 1;
  transition: .2s all ease;
}
._effect-50-o {
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
}

/* 图标 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 轮播图小点颜色 */
.swiper-container {
  position: static;
}
.swiper-pagination-bullet {
  background: $color-theme;
}
.swiper-pagination-bullet-active {
  background: $color-theme;
}

// 布局
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
// padding
.pd-t-10 {
  padding-top: .27rem /* 10/37.5 */;
}
.pd-r-10 {
  padding-right: .27rem /* 10/37.5 */;
}
.pd-b-10 {
  padding-bottom: .27rem /* 10/37.5 */;
}
.pd-l-10 {
  padding-left: .27rem /* 10/37.5 */;
}
.pd-t-16 {
  padding-top: .43rem /* 16/37.5 */;
}
.pd-r-16 {
  padding-top: .43rem /* 16/37.5 */;
}
.pd-b-16 {
  padding-top: .43rem /* 16/37.5 */;
}
.pd-l-16 {
  padding-top: .43rem /* 16/37.5 */;
}
