// 1px边框，上 100%，下 0%
@mixin border-b-1px($cost){
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: $cost;
    z-index: 9;
    width: 100%;
    border-bottom: 1px solid rgba(203, 203, 203, 0.6); // #cbcbcb; 1px 边框的颜色很重要
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      transform-origin: bottom;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
      transform: scaleY(0.333);
      transform-origin: bottom;
    }
  }
}
// 1px边框，左 0%，右 100%
@mixin border-l-1px($cost){
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: $cost;
    z-index: 9;
    height: 100%;
    border-left: 1px solid rgba(203, 203, 203, 0.6); // #cbcbcb; 1px 边框的颜色很重要
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      transform: scaleX(0.5);
      transform-origin: left;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
      transform: scaleX(0.333);
      transform-origin: left;
    }
  }
}

// 背景图片
@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url($url + "@3x.png");
  }
}

// 不换行
@mixin no-wrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 扩展点击区域
@mixin extend-click(){
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
