// 颜色定义规范
$color-background: #fff;
$color-background-e: #f6f6f6;
$color-background-0: rgba(0, 0, 0, .4);

$color-theme: #FF3355;    // 主题色
// $color-theme-d: rgba(255, 205, 49, 0.5);
$color-yellow: #FF9800;    // 黄色
$color-sub-theme: #646464;

$color-text-d: #313232;      // 文字颜色
$color-text: #4A4949;
$color-text-6: #666;
$color-text-9: #999;
// $color-text-l: rgba(255, 255, 255, 0.5);
// $color-text-ll: rgba(255, 255, 255, 0.8);

//字体定义规范
$font-size-small-s: .27rem /* 10/37.5 */;
$font-size-small: .32rem /* 12/37.5 */;
$font-size-medium: .37rem /* 14/37.5 */;
$font-size-medium-x: .43rem /* 16/37.5 */;
$font-size-large: .48rem /* 18/37.5 */;
$font-size-large-x: .53rem /* 20/37.5 */;
